.search-input-wrap span {
  top: 28px;
  left: 12px;
  position: relative;
}

.search-input-wrap svg { color: #37A650; }

.search-input-wrap input {
  padding: 8px 35px;
  width: 100%;
  border: none; 
  outline: none;
  border-radius: 4px;
  box-shadow: .1px .1px 1px 1px #e7e7e7;
}